*.iml
.gradle/
.gradle
local.properties
.idea/
!.idea/codeStyles/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.ap_
*.aab
*.apk
local.properties
navigation.json

.playwright-mcp/

core/common/bin/
core/model/bin/
core/testing/bin/

.agents/